@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-mono: "JetBrains Mono", "Fira Code", monospace;
  --color-accent: #BDCED3;
  --color-accent-dark: #CFD4AE;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg-color: #ede3d1;
  --text-color: #7a685a;
  --text-color-hover: #a58c7b;
  --button-color-hover: #BABF94;
  --box-color-hover: rgba(186, 191, 148, 0.5);
}

html.dark {
  --dark-bg-color: #161411;
  --dark-text-color: #F6E7C6;
  --dark-text-color-hover: #eaca9a;
  --dark-box-color-hover: rgba(186, 191, 148, 0.3);
  --dark-button-color-hover: #110f0d;
}

body {
  font-family: var(--font-mono);
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.4s ease, color 0.4s ease;
}

html.dark body {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
}
